.background{
    background-image: url('images/background.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    z-index: -1;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top:0;
    left: 0;
    filter: blur(5px);
}

.mainImage{
    width: 100%;
    height:320px;
    background-image: url('images/main.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    text-shadow: 2px 2px #383838;
}

.titleContainer{
    background-color: rgba(96, 96, 96, 0.41);
    padding: 2rem;
    padding-top: 100px;
    height: 100%;
    box-sizing: border-box;
}